{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Social App Registration</h2>
                <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                        {% if form.username.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.username.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                        {% if form.email.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.email.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password1" class="form-control" placeholder="Password" required>
                        {% if form.password1.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.password1.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
                        {% if form.password2.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.password2.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-dark custom-button">Register</button>
                </form>
                <div class="text-center mt-3">
                    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

